.contactDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 100vh;
    
    .contactContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0rem 1rem 0rem;
        @media (min-width: 768px) {
            margin: 5rem 1rem 0rem;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 300px;
            padding-bottom: 2rem;
            border-bottom: 1px solid rgba(121, 121, 121, 0.261);

            input, textarea {
                outline: none;
                border: none;
                margin: .25rem auto 1rem;
                width: 280px;
                border-radius: 5px;
                padding: .5rem;
            }
            textarea {
                height: 150px;
            }
            button {
                cursor: pointer;
            }
        }
    }
}