@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');

$IBM-font: 'IBM Plex Serif', serif;
$logo-font: 'Kaushan Script', cursive;
$header-font: 'Ruda', sans-serif;