@use "../scss/font";
@use "../scss/colors";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: font.$IBM-font;
  background-color: colors.$background-color;

}

h1 {
  font-family: font.$header-font;
}